.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.block {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1 0 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01rem;
}

.block_header {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 590;
  line-height: 1.5rem; /* 120% */
  letter-spacing: 0.0125rem;
}
