.root {
  display: flex;
  padding: 3rem 5.625rem;
  flex-direction: column;
  align-items: flex-start;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01rem;
}

.logs {
  display: flex;
  width: 50rem;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: oklch(var(--logs-background-oklch));
  margin: auto;
}

.link {
  display: contents;
  color: oklch(var(--link-color-oklch));
  font-weight: 590;
}

.author {
  font-size: 1rem;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
  letter-spacing: 0.01rem;
}

.date {
  color: oklch(var(--date-color-oklch));
  font-size: 1rem;
  font-style: normal;
  font-weight: 590;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01rem;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.time {
  color: oklch(var(--date-color-oklch));
  font-size: 1rem;
  font-style: normal;
  font-weight: 590;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.01rem;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.textarea {
  background-color: oklch(var(--logs-background-oklch));
  display: flex;
  padding: 1.5rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 1.25rem;
  border-color: transparent;
  color: oklch(var(--foreground-oklch));
  resize: none;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
  letter-spacing: 0.01rem;
}

.input_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
  margin-top: 3rem;
}

.note {
  padding-left: 0.5rem;
  border-left: 2px solid oklch(var(--quote-color-oklch));
  margin: 0;
}

.note > p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.button_submit {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.875rem 1.5rem 1.125rem 1.5rem;
  border-radius: 0.75rem;
  border-color: transparent;
  color: oklch(var(--foreground-oklch));
  background: oklch(var(--link-background-oklch));
}
