.link {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04rem;
}

.header {
  margin: var(--header-margin);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03rem;
}
